package layouts

import "github.com/anthdm/superkit/view"
import "fmt"

var (
	defaultTitle = "lazymeal - The fastest way to cook at home!"
)

func getTitle(title string) string {
	if title == "" {
		return defaultTitle
	}

	return fmt.Sprintf("%s | Lazy Meal", title)
}

templ BaseLayout(title, metaDescription string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ getTitle(title) }</title>
			<link rel="icon" type="image/x-icon" href="/public/assets/favicon.ico"/>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="apple-mobile-web-app-capable" content="yes"/>
			<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
			<meta name="apple-mobile-web-app-title" content="Lazy Meal"/>
			<meta name="keywords" content="lazy dinner, lazy dinner ideas, lazy dinner for one, lazy Friday night dinner, lazy meals, lazy dish, the lazy dish, easy lazy dinners, quick dinner recipes, lazy cooking, fast dinner ideas, simple dinners, effortless meals, lazy weeknight meals"/>
			if metaDescription != "" {
				<meta name="description" content={ metaDescription }/>
			}
			<link rel="stylesheet" href={ view.Asset("styles.css") }/>
			<script defer data-domain="lazy-meal.com" src="https://plausible.ignoxx.dev/js/script.tagged-events.js"></script>
			<script src={ view.Asset("index.js") }></script>
			<!-- Font Awesome -->
			<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
			<!-- Alpine Plugins -->
			<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
			<!-- HTMX -->
			<script src="https://unpkg.com/htmx.org@1.9.9" defer></script>
		</head>
		<body x-data="{theme: 'light'}" :class="theme" lang="en">
			{ children... }
			<script type="application/ld+json">
				[
				{
					"@context": "https://schema.org",
						"@type": "Recipe",
						"name": "Healthy Baked Salmon with Fennel and Roasted Cherry Tomatoes",
						"image": "https://lazy-meal.com/public/assets/baked-salmon-with-fennel-tomatoes.jpg",
						"author": {
							"@type": "Organization",
							"name": "Lazy Meal"
						},
						"description": "Enjoy a healthy and flavorful dinner with this baked salmon dish, featuring fresh fennel and sweet roasted cherry tomatoes. The tender, juicy salmon pairs perfectly with aromatic fennel and caramelized tomatoes, offering a nutritious, low-carb meal that's simple to prepare. Ideal for a wholesome and easy weeknight dinner that's packed with vitamins and omega-3s.\r\n",
						"prepTime": "PT10M",
						"cookTime": "PT25M",
						"totalTime": "PT35M",
						"recipeYield": "2 servings",
						"recipeCategory": "Main Course\r\nDinner\r\nHealthy",
						"nutrition": {
							"@type": "NutritionInformation",
							"calories": "400 calories",
							"proteinContent": "30 grams"
						},
						"recipeIngredient": [
							"2 medium fennel\r",
						"2 tbsp chopped parsley\r",
						"1 lemon (juiced)\r",
						"175g cherry tomatoes\r",
						"1 tbsp olive oil\r",
						"350g salmon\r",
						"Black olives (optional)"
						],
						"recipeInstructions": [
							"Heat oven to 180C/fan 160C/gas 4\r",
						"Trim the fronds from the fennel and set aside\r",
						"Cut the fennel bulbs in half, then cut each half into 3 wedges\r",
						"Cook in boiling salted water for 10 mins, then drain well\r",
						"Chop the fennel fronds roughly, then mix with the parsley and lemon zest\r",
						"Spread the drained fennel over a shallow ovenproof dish, then add the tomatoes\r",
						"Drizzle with olive oil, then bake for 10 mins\r",
						"Nestle the salmon among the veg, sprinkle with lemon juice, then bake 15 mins more until the fish is just cooked\r",
						"Scatter over the parsley and serve"
						],
						"aggregateRating": {
							"@type": "AggregateRating",
							"ratingValue": "4.5",
							"ratingCount": 1
						}
				},
				{
					"@context": "https://schema.org",
					"@type": "Recipe",
					"name": "Morning Whey Protein Coffee Shake",
					"image": "https://lazy-meal.com/public/assets/morning-whey-protein-coffee-shake.png",
					"author": {
						"@type": "Organization",
						"name": "Lazy Meal"
					},
					"description": "A quick and energizing shake combining protein and caffeine to kickstart your morning. This shake is perfect for those on the go, providing the necessary fuel to start the day.",
					"prepTime": "PT2M",
					"cookTime": "PT0M",
					"totalTime": "PT2M",
					"recipeYield": "1 servings",
					"recipeCategory": "Breakfast\nHigh-Protein",
					"nutrition": {
						"@type": "NutritionInformation",
						"calories": "150 calories",
						"proteinContent": "30 grams"
					},
					"recipeIngredient": [
						"30g protein powder",
					"200ml water",
					"2 cups of coffee"
					],
					"recipeInstructions": [
						"In a shaker or blender, combine the protein powder, water, and coffee",
					"Mix well until smooth",
					"Enjoy immediately"
					],
					"aggregateRating": {
						"@type": "AggregateRating",
						"ratingValue": "4.5",
						"ratingCount": 3
					}
				},
				{
					"@context": "https://schema.org",
					"@type": "Recipe",
					"name": "Overnight Oats with Yogurt and Fruits",
					"image": "https://lazy-meal.com/public/assets/overnight-oats.jpg",
					"author": {
						"@type": "Organization",
						"name": "Lazy Meal"
					},
					"description": "A quick and nutritious overnight oats recipe made with milk, yogurt, and fresh fruits. Perfect for a healthy breakfast or snack that's ready to grab and go the next morning.",
					"prepTime": "PT5M",
					"cookTime": "PT0M",
					"totalTime": "PT5M",
					"recipeYield": "1 servings",
					"recipeCategory": "Breakfast\nHealthy\nMeal Prep",
					"nutrition": {
						"@type": "NutritionInformation",
						"calories": "350 calories",
						"proteinContent": "15 grams"
					},
					"recipeIngredient": [
						"1/2 cup rolled oats",
					"1 cup milk",
					"1/2 cup yogurt",
					"Optional: fresh fruits (berries",
					"banana",
					"apple)",
					"honey or sweetener to taste"
					],
					"recipeInstructions": [
						"The night before, combine 1/2 cup of rolled oats with 1 cup of milk in a jar or bowl",
					"Cover and let it rest in the refrigerator overnight",
					"The next morning, take out the oats and layer them with yogurt and your choice of fresh fruits such as berries, bananas, or apples",
					"Serve immediately or store in the fridge for later"
					],
					"aggregateRating": {
						"@type": "AggregateRating",
						"ratingValue": "4.5",
						"ratingCount": 1
					}
				},
				{
					"@context": "https://schema.org",
					"@type": "Recipe",
					"name": "Berry-Kefir Smoothie",
					"image": "https://lazy-meal.com/public/assets/berry-kefir-smoothie.png",
					"author": {
						"@type": "Organization",
						"name": "Lazy Meal"
					},
					"description": "A quick and healthy smoothie that combines the probiotic benefits of kefir with the antioxidants of mixed berries. Ideal for breakfast or a snack.",
					"prepTime": "PT5M",
					"cookTime": "PT0M",
					"totalTime": "PT5M",
					"recipeYield": "1 servings",
					"recipeCategory": "Breakfast\nHealthy\nHigh-Protein",
					"nutrition": {
						"@type": "NutritionInformation",
						"calories": "304 calories",
						"proteinContent": "15 grams"
					},
					"recipeIngredient": [
						"1 ½ cups frozen mixed berries",
					"1 cup plain kefir",
					"½ medium banana",
					"2 tsp almond butter",
					"½ tsp vanilla extract"
					],
					"recipeInstructions": [
						"Combine frozen berries, kefir, banana, almond butter, and vanilla extract in a blender",
					"Blend until smooth"
					],
					"aggregateRating": {
						"@type": "AggregateRating",
						"ratingValue": "4.5",
						"ratingCount": 1
					}
				},
				{
					"@context": "https://schema.org",
					"@type": "Recipe",
					"name": "Traditional Beetroot Soup (Borscht) - Healthy and Nutritious",
					"image": "https://lazy-meal.com/public/assets/beetroot-soup-borscht.jpg",
					"author": {
						"@type": "Organization",
						"name": "Lazy Meal"
					},
					"description": "Discover the rich flavors of traditional Eastern European Beetroot Soup (Borscht), a vibrant, earthy dish made with fresh beetroot, potatoes, and beans. This healthy and nutritious soup is perfect for a warm, hearty meal that's both filling and flavorful. Ideal for those looking for a wholesome and satisfying lunch or dinner option.\r\n",
					"prepTime": "PT10M",
					"cookTime": "PT20M",
					"totalTime": "PT30M",
					"recipeYield": "4 servings",
					"recipeCategory": "Soups\r\nVegetarian",
					"nutrition": {
						"@type": "NutritionInformation",
						"calories": "200 calories",
						"proteinContent": "6 grams"
					},
					"recipeIngredient": [
						"3 beetroots\r",
					"4 tbsp olive oil\r",
					"1 chicken stock cube\r",
					"6 cups water\r",
					"3 potatoes\r",
					"1 can cannellini beans\r",
					"Fresh dill for garnish"
					],
					"recipeInstructions": [
						"Chop the beetroot and boil in water with a stock cube for 15 minutes\r",
					"Add diced potatoes and cook until soft\r",
					"Finally, add beans and cook for 5 more minutes\r",
					"Serve hot, garnished with dill"
					],
					"aggregateRating": {
						"@type": "AggregateRating",
						"ratingValue": "4.5",
						"ratingCount": 1
					}
				},
				{
					"@context": "https://schema.org",
					"@type": "Recipe",
					"name": "Hearty Croatian Bean Stew with Cannellini Beans and Chorizo",
					"image": "https://lazy-meal.com/public/assets/croatian-bean-stew.jpg",
					"author": {
						"@type": "Organization",
						"name": "Lazy Meal"
					},
					"description": "Enjoy a hearty and flavorful Croatian Bean Stew made with cannellini beans, fresh vegetables, and savory chorizo. This comforting stew is perfect for a cozy dinner and tastes even better when reheated the next day. A filling, one-pot meal ideal for those seeking authentic Croatian flavors and a satisfying dish.\r\n",
					"prepTime": "PT15M",
					"cookTime": "PT30M",
					"totalTime": "PT45M",
					"recipeYield": "4 servings",
					"recipeCategory": "Soups\r\nMain Course\r\nComfort Food",
					"nutrition": {
						"@type": "NutritionInformation",
						"calories": "500 calories",
						"proteinContent": "20 grams"
					},
					"recipeIngredient": [
						"2 cans cannellini beans\r",
					"3 tbsp vegetable oil\r",
					"2 cups tomatoes\r",
					"5 shallots\r",
					"2 garlic cloves\r",
					"1/2 kg chorizo\r",
					"Pinch parsley"
					],
					"recipeInstructions": [
						"Heat oil in a pan, sauté the chopped vegetables until tender\r",
					"Add beans and vegetables into a pot, along with chorizo\r",
					"Cook for 20 minutes on low heat or bake at 180C/350F for 30 minutes\r",
					"Serve warm"
					],
					"aggregateRating": {
						"@type": "AggregateRating",
						"ratingValue": "4.5",
						"ratingCount": 1
					}
				},
				{
					"@context": "https://schema.org",
					"@type": "Recipe",
					"name": "Moroccan Carrot Soup – Healthy and Flavorful",
					"image": "https://lazy-meal.com/public/assets/moroccan-carrot-soup.jpg",
					"author": {
						"@type": "Organization",
						"name": "Lazy Meal"
					},
					"description": "Enjoy the rich, aromatic flavors of Moroccan Carrot Soup, made with roasted carrots, cumin, and coriander. This fragrant, healthy soup is light yet deeply flavorful, making it a perfect choice for a nutritious lunch or dinner. Whether you're looking for a warming meal or a wholesome vegetarian option, this soup is sure to satisfy.\r\n",
					"prepTime": "PT10M",
					"cookTime": "PT12M",
					"totalTime": "PT22M",
					"recipeYield": "4 servings",
					"recipeCategory": "Soups\r\nHealthy",
					"nutrition": {
						"@type": "NutritionInformation",
						"calories": "150 calories",
						"proteinContent": "2 grams"
					},
					"recipeIngredient": [
						"6 carrots\r",
					"1 onion\r",
					"4 garlic cloves\r",
					"1 tsp cumin\r",
					"1/2 tsp coriander\r",
					"1 tbsp olive oil\r",
					"1/4 tsp garam masala\r",
					"1 tsp lemon juice"
					],
					"recipeInstructions": [
						"Preheat oven to 180°C\r",
					"Mix carrots, onion, garlic, cumin, coriander, salt, and olive oil\r",
					"Roast for 10-12 minutes\r",
					"Blend the roasted vegetables with water into a smooth paste\r",
					"Reheat in a pan, add garam masala and lemon juice\r",
					"Serve hot"
					],
					"aggregateRating": {
						"@type": "AggregateRating",
						"ratingValue": "4.5",
						"ratingCount": 1
					}
				},
				{
					"@context": "https://schema.org",
					"@type": "Recipe",
					"name": "Spicy Arrabiata Penne",
					"image": "https://lazy-meal.com/public/assets/spicy-arrabiata-penne.jpg",
					"author": {
						"@type": "Organization",
						"name": "Lazy Meal"
					},
					"description": "This quick and spicy Arrabiata Penne is perfect for a simple yet flavorful dinner. Made with garlic, red chili flakes, and fresh basil, it brings a classic Italian dish to your table in under 30 minutes.",
					"prepTime": "PT10M",
					"cookTime": "PT9M",
					"totalTime": "PT19M",
					"recipeYield": "2 servings",
					"recipeCategory": "Main Course\nDinner\nVegetarian",
					"nutrition": {
						"@type": "NutritionInformation",
						"calories": "500 calories",
						"proteinContent": "12 grams"
					},
					"recipeIngredient": [
						"1 pound penne rigate",
					"1/4 cup olive oil",
					"3 cloves garlic",
					"1 tin chopped tomatoes",
					"1/2 teaspoon red chili flakes",
					"1/2 teaspoon Italian seasoning",
					"6 basil leaves",
					"Parmigiano-Reggiano flakes"
					],
					"recipeInstructions": [
						"Bring a large pot of water to a boil",
					"Add kosher salt and the penne pasta",
					"Cook according to package instructions, about 9 minutes",
					"Meanwhile, heat olive oil in a large skillet over medium-high heat until shimmering",
					"Add minced garlic and sauté for 1 to 2 minutes until fragrant",
					"Add chopped tomatoes, red chili flakes, Italian seasoning, and salt and pepper",
					"Bring to a boil and cook for 5 minutes",
					"Stir in chopped basil",
					"Drain the pasta and mix it with the sauce",
					"Garnish with Parmigiano-Reggiano and basil",
					"Serve warm"
					],
					"aggregateRating": {
						"@type": "AggregateRating",
						"ratingValue": "4.5",
						"ratingCount": 2
					}
				}
			]

			</script>
		</body>
	</html>
}
